*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
}
.btn{
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    display: inline;
    margin-inline: 40px;
    cursor: pointer;

    color: aqua;
}
.container{
    justify-items: center;
    min-height: 20vh;
    
}
#img{
    margin-top: 200px; 
    border-color: aquamarine;
    border-radius: 20%;
}
/* #rotate{
    transition: transform 0.5s ease-in-out;
} */

